<%- include('partials/head.ejs') %>
    <title><%= title %> | Book repository</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>

    <h1><%= title %></h1>

    <form action="" method="post">

        <div class="form-group">
            <label for="book">Book: </label>
            <select name="book" id="book" class="form-control" placeholder='Select book' required>
    <% book_list.sort(function(a, b) {
        let textA = a.title.toUpperCase(); 
        let textB = b.title.toUpperCase(); 
        return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
    }); %> 

    <% for( let i = 0; i < book_list.length; i++ ) { %>       
            
        <option value="<%= book_list[i]._id %>" selected="<%= ((typeof selected_book != 'undefined' && selected_book==book_list[i]._id.toString()) ? 'selected' : false) %>"><%= book_list[i].title %></option>
        
    <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="imprint">Imprint: </label>
            <input id="imprint" class="form-control" type="text" placeholder='Publisher and date information' name="imprint" required value=<%= (typeof bookinstance  === 'undefined') ? '' : bookinstance.imprint %>>
        </div>

        <div class="form-group">
            <label for="due_back">Date when book available: </label>
            <input id="due_back" class="form-control" type="date" placeholder='Publisher and date information' name="due_back" required value='<%= (typeof bookinstance  === 'undefined') ? '' : bookinstance.due_back %>'>
        </div>
        
        <div class="form-group">
            <label for="status">Status: </label>
            <select name="status" id="status" class="form-control" placeholder='Select status' required>
                <option value="Maintenance">Maintenance</option>
                <option value="Available">Available</option>
                <option value="Loaned">Loaned</option>
                <option value="Reserved">Reserved</option>
            </select>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <% if (typeof errors != 'undefined') { %>
        <ul>
            <% for( let i = 0; i < errors.length; i++ ) { %>
                <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
    <% } %>

<%- include('partials/footer.ejs') %>